.container {
    background-color: #755968;
    background-image: url("https://www.transparenttextures.com/patterns/crisp-paper-ruffles.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    height: 600px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.containerLeft {
    background-color: rgba(79, 79, 116, 0.5);
    width: 500px;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
}

@import url('https://fonts.googleapis.com/css?family=Atma');

.containerRight {
    width: 430px;
    background-color: rgba(105, 34, 78, 0.7);
    padding: 30px 30px 5px 30px;
    border: 3px solid rgb(105, 91, 93);
    border-radius: 40px;
    color: rgb(223, 219, 213);
    margin-top: 35px;
    font-family: Atma, cursive;
}

.imgNew {
    width: 450px;
    height: 300px;
}

.inputForm {
    margin: 0 0 10px 0;
    border-radius: 5px;
    height: 20px;
    border: 0px;
    padding-left: 6px;
}

.formItem {
    display: flex;
    flex-direction: column;
}

.formItem2 {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.formItem3 {
    display: flex;
    width: 100%;
    height: 140px;
}

.inputRange {
    width: 180px;
    margin: 0 0 10px 0;
    border-radius: 5px;
    height: 20px;
    border: 0px solid rgb(105, 91, 93);
    padding-left: 6px;
}

.btnx {
    background-color: transparent;
    border: 0px;
    color: rgb(238, 122, 167);
    margin-left: 5px;
}

.danger {
    color: rgb(255, 167, 167);
    color: rgb(255, 202, 202);
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 3px;
    background-color: rgba(248, 3, 44, 0.6);
    text-align: center;
    border-radius: 3px;
    letter-spacing: 1.1px
}


@import url('https://fonts.googleapis.com/css?family=Codystar');

.backBtn {
    background-color: transparent;
    color: rgb(250, 249, 249);
    border: 1px solid rgb(197, 151, 159);
    padding: 6px 50px 6px 50px;
    border-radius: 10px;
    /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    font-family: Codystar, cursive;
    text-align: center;
    font-size: 18px;
    margin-top: 30px
}

@import url('https://fonts.googleapis.com/css?family=Titan+One');

.backBtn:hover {
    color: rgb(255, 255, 255);
    /* color de fuente hover */
    font-family: "Titan One", cursive;
    text-align: center;
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
    color: rgb(247, 212, 236);
    text-transform: uppercase;
}

.backBtn::after {
    content: "";
    background: #d455aa;
    /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
}

.backBtn:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
}

@import url('https://fonts.googleapis.com/css?family=Carter+One');
.btnCheck {
    font-family: "Carter One", cursive;
    background-color: rgb(50, 146, 50);
    border: 2px solid green;
    color: rgb(190, 241, 192);
    font-size: 18px;
    padding: 5px 30px 5px 30px;
    border-radius: 20px;
}
.btnCheck:hover{
    background-color: rgb(41, 168, 41);
}

.btnCheck:disabled {
    background: #ccc;
    color: rgb(155, 145, 145);
    background-color: rgb(96, 92, 92);
    border: 2px solid rgb(61, 66, 61);
    cursor: not-allowed;
}

.btnDelete {
    font-family: "Carter One", cursive;
    background-color: rgb(221, 35, 35);
    border: 2px solid rgb(146, 37, 4);
    color: rgb(236, 163, 163);
    font-size: 11px;
    margin-top: -250px; 
    padding: 2px 10px 2px 10px;
    border-radius: 10px;
    margin-top: 10px;
    cursor:pointer;
}