.container {

}

.container2 {
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
}

.pagination {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;

}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  padding: 0px 1% 77px 1%;
}