body{
    background-color: #f2ffd6;
    background-color: #555161;
    background-image: url("https://www.transparenttextures.com/patterns/checkered-pattern.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}