.btnPg {
    background-color: rgba(48, 25, 48, 0.7);
    color: #afaaaa;
    border-radius: none;
    padding: 5px 12px;
    border: 1px solid rgb(109, 103, 103);
    cursor: pointer;
    margin: 1px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .btnPg:hover {
    background-color: #ddd;
    color: #060609;
  }
  
  /* .btnPg::after {
    background-color: red
  } */

